.card-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.date-info {
    display: flex;
    gap: 7px;
}

.participants-info {
    display: flex;
    gap: 10px;
}

@keyframes popIn {
    0% {
        transform: scale(85%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 100;
    }
}

.card-container {
    animation: .2s popIn;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}