.catch-card-container {
    width: 300px;
    background-color: beige;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    min-height: 300px;

    p {
        color: #193441;
        font-size: 1em;
        font-weight: bold;
    }

    .card-header {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        h4 {
            color: #193441;
            font-size: 1.5em;
        }
    }

    .declare-winner-button {
        position: relative;
    }

    .img-container {
        position: relative;
        text-align: center;
        .card-img {
            width: 100%;
            max-height: 300px;
            border-radius: 5px;
            object-fit: cover;
            bottom: 0;
            margin: 0;
        }

        .delete-catch-button {
            width: 25px;
            height: 25px;
            margin: 0;
            position: absolute;
            bottom: 8px;
            right: 15px;
            color:antiquewhite;
            background-color: #193441;

            &:hover {
                background-color: antiquewhite;
                color:#193441;
            }
            &:active {
                background-color: rgb(190, 179, 164);
            }
        }
    }

}

