.tournament-details-container h1{ 
    font-family: "Abril Fatface", cursive;
    color: #d1dbbd;
    font-size: 5vw;
    text-shadow: 2px 2px 5px #193441;
}

.tournament-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tournament-details-body {
    position: relative;
    margin: 25px;
    background-color: #3E606F;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

.tournament-details-body h4 {
    margin: 25px 25px 0px 25px;
    color: #FCFFF5;
}

.tournament-details-body p {
    margin: 10px 25px 25px 25px;
    color: #FCFFF5;
    background-color: #193441;
    padding: 5px;
    border-radius: 5px;
}

.tournament-details-body img {
    width: 100%;
    border-radius: 5px;
}

.tournament-details-body .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}